body{
	background-color: #eeeeee;
}

h2{
	color: #393e46;
}

hr {
	margin-top: 1rem;
  margin-bottom: 2rem;
  border-width: 0;
	border-top: 1px solid #222831; 
}

.mainContainer{
	text-align: center;
  margin: 100px auto auto auto;
	padding: 0px 10px;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222851;
}

.textInput{
	height: 38px;
	width: 180px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.button {
  display: inline-block;
	height: 38px;
	margin-top: 5px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
	box-sizing: border-box; 
}

.logoutButton{
	margin: 0px 5px 0px 0px;
	padding: 0px 2px;
	height: 20px;
	line-height: 20px;
	letter-spacing: normal;
}

.button:focus {
  color: #333;
  border-color: #888;
	outline: 0; 
}

.dashboardRow{
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.resultsContainer{
	margin-top: 10px;
}

.searchTermResultRow{
	margin-bottom: 5px;
	border-bottom: 1px solid #222;
}

.adminContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 520px){
	.mainContainer{
		margin-top: 8%;
		width: 500px;
		font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	.dashboardRow{
		width: 400px;
		flex-direction: row;
		justify-content: space-between;
	}
}

/*

@media (min-width: 550px) {
  h5 { font-size: 2.4rem; }
}

hr {
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-width: 0;
	border-top: 1px solid #E1E1E1; 
}
.div-hover:hover {
  cursor: pointer
}
*/
